@using PMSCore.ViewModel
@model IEnumerable<OrderDetailsVM>

<div class="table-responsive">
    <table class="table justify-content-center table-fixed  col-12 border-none px-0">
        <thead class="bg-white">
            <tr>
                <th><span class="sort text-decoration-none" data-sortby="id">#Order <i class="bi bi-arrow-down-up"></i></span></th>
                <th><span class="sort text-decoration-none" data-sortby="date">Date <i class="bi bi-arrow-down-up"></i></span></th>
                <th><span class="sort text-decoration-none" data-sortby="customer">Customer <i class="bi bi-arrow-down-up"></i></span></th>
                <th><span class="sort text-decoration-none" data-sortby="status">Status <i class="bi bi-arrow-down-up"></i></span></th>
                <th><span class="sort text-decoration-none" data-sortby="paymetMethod">Payment Mode <i class="bi bi-arrow-down-up"></i></span></th>
                <th>Rating</th>
                <th><span class="sort text-decoration-none" data-sortby="totalAmount">Total Amount <i class="bi bi-arrow-down-up"></i></span></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="itemsList">
            @if (Model.Any())
            {
                @foreach (OrderDetailsVM order in Model)
                {
                    <tr class="items" data-order-id="@order.OrderId">
                        <td class="fw-bold">#@order.OrderId</td>
                        <td>@order.OrderDate</td>
                        <td>@order.CustomerName</td>
                        <td>@order.OrderStatus</td>
                        <td>@order.PaymentType</td>
                        <td>
                            <div class="star-rating">
                                @for (short i = 1; i <= 5; i++)
                                {
                                    if(order.Rating >= i){
                                        <i class="fa-solid text-warning fa-star"></i>
                                   
                                    }
                                    else{
                                        <i class="fa-regular text-warning fa-star"></i>
                                    }
                                    
                                }
                            </div>
                        </td>
                        <td>$ @order.TotalAmount </td>
                        <td>
                            <a class="text-decoration-none" asp-controller="Orders" asp-action="DownloadInvoice" asp-route-orderId="@order.OrderId">
                                <i class="bi bi-file-earmark-arrow-down-fill p-1"></i>
                            </a>
                            @* <a class="viewOrderDetails" data-order-id="@order.OrderId"> *@
                            <a asp-controller="Orders" asp-action="OrderDetails" asp-route-orderId="@order.OrderId">
                                <i class="bi bi-eye"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center text-muted">No results found</td>
                </tr>
            }
        </tbody>
    </table>
</div>