@using PMSCore.ViewModel
@using PMSWebApp.Extensions
@model (IEnumerable<OrderDetailsVM> orders, PaginationDetails paginationDetails)

@{
    ViewData["Title"] = "Orders";
    List<SelectListItem> orderStatusList = Model.paginationDetails.OrderStatus.ToSelectList();
    List<SelectListItem> timePeriodList = Model.paginationDetails.DateRange.ToSelectList();
}
<script src="~/js/Orders.js"></script>

    <div class="MainContent px-4 py-2" id="orderView">
        <div class="row px-3">
            <div class="col-12 container">
                <input type="hidden" id="totalRecordsForOrderPage" value="@Model.paginationDetails.totalRecords" />
                <form method="GET" asp-action="ExportData" class="col-12" asp-controller="Orders" id="exportDataForm">
                    <div class="col-12 d-flex flex-column flex-md-row justify-content-between px-0 p-2">
                        <h1 class="fw-bold mainHeading">Orders</h1>
                        <div
                            class="col-8 d-flex flex-column flex-md-row justify-content-end align-items-center mt-3 mt-md-0">
                            <div class="d-flex align-items-center position-relative mb-2 mb-md-0 me-md-2 w-100 w-md-auto">
                                <!-- Search input -->
                                <input type="text" class="form-control" id="SearchUser" name="orderSearch"
                                    placeholder="Search">
                            </div>
                            <div class="d-flex align-items-center position-relative mb-2 mb-md-0 me-md-2 w-100 w-md-auto">
                                <select id="orderStatus" name="OrderStatus" class="form-select">
                                    @foreach (var order in orderStatusList)
                                    {
                                        if (order.Value == Model.paginationDetails.OrderStatus.ToString())
                                        {

                                            <option value="@order.Value" selected>@order.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@order.Value">@order.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="d-flex align-items-center position-relative mb-2 mb-md-0 me-md-2 w-100 w-md-auto">
                                <select id="dateRange" name="dateRange" class="form-select">
                                    @foreach (var timePeriod in timePeriodList)
                                    {
                                        if (timePeriod.Value == Model.paginationDetails.DateRange.ToString())
                                        {

                                            <option value="@timePeriod.Value" selected>@timePeriod.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@timePeriod.Value">@timePeriod.Text</option>
                                        }
                                    }
                                </select>
                            </div>

                            <button type="submit" form="exportDataForm" class=" col-2 btn btn-primary border ms-md-2">
                                <a class="text-decoration-none text-white">
                                    <i class="bi bi-send-arrow-down p-1"></i>Export
                                </a>
                            </button>
                        </div>
                    </div>
            </form>
            </div>
            <div class="row d-flex justify-content-end pe-2 pb-2 ps-3 fs-6">
                <div class="form-floating col-12 col-md-2 mx-1">
                    <input class="form-control" type="date" id="fromDate" placeholder="From Date">
                    <label for="fromDate" class="ms-2">FromDate</label>
                </div>
                <div class="form-floating col-12 col-md-2 mx-1">
                    <input class="form-control" type="date" id="toDate" placeholder="To Date">
                    <label for="toDate" class="ms-2">ToDate</label>
                </div>
                <button class="col-12 col-md-1 btn btn-primary mx-1 mb-2 mb-md-0" id="searchDateRange">Search</button>
                <button class="col-12 col-md-1 btn border-primary mx-1" id="clearDateRange">Clear</button>
            </div>
            <div class="d-flex flex-column col-12 p-0 bg-white d-flex justify-content-center bg-white shadow p-4">


                <div class="container-fluid my-4 px-3 row p-0">
                    <!-- User table container -->
                    <div class="col-12 table-responsive px-0" id="orderList">
                        <partial name="_partial_OrderTable" model="Model.orders" />
                    </div>
            </div>


            <div class="d-flex align-item-center justify-content-end ">
                <div class="col-4 my-2 mx-1 d-flex">
                    <!-- Order per page dropdown -->
                    <select class="form-select" id="OrderPerPage">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <!-- Pagination info -->
                    <span class="col-5 m-2 paginationtext d-none d-sm-inline" id="paginationInfo"></span>
                    <button class="btn border" id="prevPage">
                        &lt; </button>
                    <button class="btn border" id="nextPage"> &gt; </button>
                </div>
            </div>
        </div>
    </div>

</div>
