@model PMSCore.ViewModel.ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword Page";
    TempData["LayoutName"] = "_Layout";
    string email = Context.Session.GetString("Email")??"";
}
    <link rel="stylesheet" href="~/css/ProfileSection.css" asp-append-version="true" />

<div class="container d-flex flex-column" id="ChangePasswordVMScreen">
    <h1 class="text">Change Password</h1>

    <div class="container" id="ChangePasswordVMBox">
        <p class="m-3">Enter New Password to Update you account credantials</p>

        <form asp-action="ChangePassword" method="post">
            <input type="hidden" asp-for="Email" value="@email" name="Email" id="emailIdForChangePassword" />
        <div class="input_box form-floating m-3">
             <span class="icon me-3 mt-2" onclick="showPassword('CurrentPassword','cpImage')">
                <img src="@Url.Content("~/images/icons/eye.png")" id="cpImage" width="20" height="20" alt="eye_button" /></span>
            <input type="password" asp-for="OldPassword" id="CurrentPassword" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Current Password</label>
            <span class="text-danger">@Html.ValidationMessageFor(m => m.OldPassword)</span>
        </div>
        <div class="input_box form-floating m-3">
             <span class="icon me-3 mt-2" onclick="showPassword('NewPassword','newpImage')">
                <img src="@Url.Content("~/images/icons/eye.png")" id="newpImage" width="20" height="20" alt="eye_button" /></span>
            <input type="password" asp-for="NewPassword" id="NewPassword" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">New Password</label>
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="input_box form-floating m-3">
             <span class="icon me-3 mt-2" onclick="showPassword('ConfirmPassword','conpImage')">
                <img src="@Url.Content("~/images/icons/eye.png")" id="conpImage" width="20" height="20" alt="eye_button" /></span>
            <input type="password" asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Confirm Password</label>
             <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="ChangePasswordVMBoxFooter d-flex m-3 align-items-center">
            <button type="submit" class="updateBtn btn">Submit</button>
            <button type="reset" class="cancelbtn btn">Cancel</button>
        </div>
        </form>
    </div>
</div>