@using PMSCore.ViewModel
@model IEnumerable<CustomerDetails>

<div class="table-responsive">
    <table class="table justify-content-center table-bcustomered col-12 bcustomer-none px-0">
        <thead class="bg-white">
            <tr>
                <th><span class="sortForCustomerList text-decoration-none" data-sortby="name">Name <i class="bi bi-arrow-down-up"></i></span></th>
                <th><span class="text-decoration-none" >Email </span></th>
                <th><span class="text-decoration-none" >Phone Number</span></th>
                <th><span class="sortForCustomerList text-decoration-none" data-sortby="date">Date <i class="bi bi-arrow-down-up"></i></span></th>
                <th><span class="sortForCustomerList text-decoration-none" data-sortby="TotalOrder">Total Order <i class="bi bi-arrow-down-up"></i></span></th>
            </tr>
        </thead>
        <tbody id="itemsList">
            @if (Model.Any())
            {
                @foreach (CustomerDetails customer in Model)
                {
                    <tr class="customerDetailsRow" data-customer-id="@customer.CustomerId">
                        <td>@customer.CustomerName</td>
                        <td>@customer.CustomerEmail</td>
                        <td>@customer.CustomerPhone</td>
                        <td>@customer.LastOrder</td>
                        <td>@customer.TotalOrders</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center text-muted">No results found</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="CustomerHistoryModal" tabindex="-1" aria-labelledby="CustomerHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Added modal-lg for larger screens -->

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CustomerHistoryModalLabel">Customer History</h5>
                <button type="button" class="btn-close resetDateRange" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12" id="showCustomerHistory">
                        <!-- Content for customer history will be dynamically loaded here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
