@using PMSCore.ViewModel
@using PMSWebApp.Extensions;
@model List<SectionDetails>

<div class="row overflow-auto section-fixed">
    <ul class="nav flex-column" id="sectionList" style="gap: 13px;">
        @foreach (SectionDetails sections in Model)
        {
            <li class="nav-link d-flex justify-content-between align-items-center section-area flex-wrap"
                id="section-@sections.SectionId" data-section-id="@sections.SectionId" style="gap: 10px;" onclick="getTablesbySectionId(@sections.SectionId)">

                <!-- Left: Icon + Name -->
                <div class="d-flex align-items-center flex-grow-1 flex-wrap">
                    <a class="d-flex flex-nowrap text-decoration-none category-link align-items-center"
                        >
                        <img src="~/images/icons/dots-6-vertical.svg" height="30px">
                        <div class="text-wrap text-black ms-2 fw-bold" style="min-width: 0; max-width: 150px;">
                            @sections.SectionName
                        </div>
                    </a>
                </div>

                <!-- Right: Edit/Delete buttons -->
                <div class="d-flex align-items-center showBtnsAtSections" id="sectionBtns-@sections.SectionId" style="gap: 10px;">
                    <a data-bs-toggle="modal" data-bs-target="#EditSectionModal"
                        onclick="FillFormForEditSection(@sections.SectionId,'@sections.SectionName','@sections.Description'); highlightSection(@sections.SectionId);">
                        <img src="~/images/icons/pen.svg">
                    </a>
                    <a data-bs-toggle="modal" data-bs-target="#deleteSectionModal"
                        onclick="AssignValueForSection(@sections.SectionId); highlightSection(@sections.SectionId);"
                        class="border-0 sweetalert">
                        <img src="~/images/icons/trash3-fill.svg" alt="">
                    </a>
                </div>
            </li>
        }
    </ul>
</div>
