@using PMSCore.ViewModel;
@using PMSWebApp.Extensions;
@model IEnumerable<TableDetails>

@{
    int editorId = User.GetUserId();
}

<!-- Table Container -->
<div class="row table-responsive overflow-auto mt-3 ms-3 me-5">
    <table class="table selectable-table table-fixed">
        <thead>
            <tr>
                <th class="text-secondary">
                    <div class="form-check">
                        <input class="form-check-input select-all-checkbox" type="checkbox" id="selectAll">
                        Table Name
                    </div>
                </th>
                <th class="text-center text-secondary">Capacity</th>
                <th class="text-center text-secondary">Status</th>
                <th class="text-secondary">Action</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @if (Model.Any())
            {
                @foreach (TableDetails table in Model)
                {
                    <tr class="data-row selectable-row">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input row-checkbox" type="checkbox">
                                @table.TableName
                            </div>
                        </td>
                        <td class="text-center">@table.Capacity</td>
                        <td class="text-center">
                            <span
                                class="px-3 py-2 text-white rounded-pill 
                                                    @(table.Status == "Booked" ? "bg-danger" :
                                                    table.Status == "Occupied" ? "bg-secondary" : "bg-success")">
                                                    @table.Status
                            </span>
                        </td>
                        <td>
                            <a class="me-3 text-decoration-none viewTableDetails editTable"
                                onclick="FillFormForEditTable(@table.TableId, '@table.TableName', @table.Capacity, @table.SectionId,'@table.Status'),@editorId" >
                                <img src="~/images/icons/pen.svg" alt="Edit">
                            </a>
                            <a data-bs-toggle="modal" data-bs-target="#deleteTableModal" data-table-id="@table.TableId"
                                class="deleteTable">
                                <img src="~/images/icons/trash3-fill.svg" alt="Delete">
                            </a>
                        </td>
                    </tr>
                }
            }else
            {
                 <tr>
                    <td colspan="4" class="text-center text-muted">No results found</td>
                </tr>
            }

        </tbody>
    </table>
</div>

