@using PMSCore.ViewModel
@using Newtonsoft.Json
@model List<KOTVM>


@if (Model.Any())
{
    @foreach (KOTVM kot in Model)
    {
        <div class="kotCard col-12 col-lg-3 col-md-6 col-sm-8 border-dashed border-2 border-secondary rounded"
            data-kot-details='@Html.Raw(Json.Serialize(kot))'>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="fw-bold fs-4  text-blue" id="kotIdInCard">#@kot.OrderId</span>
                            <small class="text-muted fs-6 d-flex"><i class="bi bi-clock"></i>
                                <p class="live-timer" data-order-time="@kot.orderAt.ToString("yyyy-MM-ddTHH:mm:ss")"></p>
                            </small>
                        </div>
                        <div class="text-dark">@kot.sectionName ~ @kot.tableName</div>
                    </div>

                </div>

                <div class="card-body overflow-auto  text-muted" id="itemsDetailsAtKOT">
        @* CheckBox for In Progress & Ready Order status *@
        @foreach (KOTVM.KOTItemsVM item in kot.kotItems)
        {
            @if (item.isPrepared && item.preparedItems == 0)
            {
                continue;
            }
            else
            {
                            <div class="itemsInKot">
                                <input type="checkbox" id="flagForOrderStatus" hidden />
                                <span class="d-flex justify-content-between align-items-center ">
                                    <p class="mb-1">@item.itemName</p>
                                    @if (!item.isPrepared)
                                    {
                                        <p class="mb-1 fw-bold">@(item.quantity - item.preparedItems)</p>
                                    }
                                    else
                                    {
                                        <p class="mb-1 fw-bold">@item.preparedItems</p>

                                    }
                                </span>
                                @if (item.modifiers.Any())
                                {
                                    @foreach (KOTVM.KOTItemsVM.KOTModifiersVM modifier in item.modifiers)
                                    {

                                        <ul class="mb-0">
                                            <li>@modifier.modifierName</li>
                                        </ul>
                                        @if (item.itemComments != null)
                                        {
                                            <span class="d-flex">
                                                <strong class="text-info ms-3 fw-normal mt-0 me-1">Instruction:</strong>
                                                <p>@item.itemComments</p>
                                            </span>
                                        }
                                    }
                                }
                            </div>
                                }


            }
            </div>
            </div>
                <div class="card-footer bg-light ms-2">
                    <span class="h-100">
                        <strong class="text-info  fw-normal mt-0 me-1 ">Orders Instruction:</strong>
                        @kot.orderComments
                    </span>
                </div>
            </div>
        }
        }
        else
        {
        <div class="d-flex justify-content-center align-items-center">
            <h5 class="text-muted">No KOTs Found</h5>
        </div>
        }
