@using PMSCore.ViewModel
@model (List<ModifierGropDetails> modifierGrops, List<CategoryDetails> categories)

@{
    AddItem newItem = new AddItem();
}


<div class="modal fade" id="AddItemModal" tabindex="-1" aria-labelledby="AddItemModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <form id="itemForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="d-flex justify-content-between m-3">
                        <h5 class="modal-title">Add Menu Items</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-floating">
                                        <select asp-for="@newItem.CategoryId" class="form-select" id="AddCategory">
                                            <option value="">Select Category</option>
                                            @foreach (var category in Model.categories)
                                            {
                                                <option value="@category.id">@category.categoryName</option>
                                            }
                                        </select>
                                        <label for="AddCategory">Category*</label>
                                        <span asp-validation-for="@newItem.CategoryId"
                                            class="text-danger field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" asp-for="@newItem.Name" class="form-control" id="NewItemName"
                                            placeholder="">
                                        <label for="NewItemName">Name</label>
                                        <span asp-validation-for="@newItem.Name"
                                            class="text-danger field-validation-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" asp-for="@newItem.ItemType" id="EditItem-Type">
                                            <option value="">Select Type</option>
                                            <option value="Veg">Vegetarian</option>
                                            <option value="Non-Veg">Non Vegetarian</option>
                                            <option value="Vegan">Vegan</option>
                                            <option value="Egg">Egg</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <label for="EditItem-Type">Item-Type*</label>
                                        <span asp-validation-for="@newItem.ItemType"
                                            class="text-danger field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="number" asp-for="@newItem.UnitPrice" class="form-control"
                                            id="EditRate" placeholder="">
                                        <label for="EditRate">Rate*</label>
                                        <span asp-validation-for="@newItem.UnitPrice"
                                            class="text-danger field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="number" asp-for="@newItem.quantity" class="form-control"
                                            id="EditItemQuantity">
                                        <label for="EditItemQuantity">Quantity*</label>
                                        <span asp-validation-for="@newItem.quantity"
                                            class="text-danger field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" asp-for="@newItem.UnitType" id="UpdateUnit">
                                            <option value="">Select Unit</option>
                                            <option value="pcs">Pieces</option>
                                            <option value="kg">Kilo Gram</option>
                                            <option value="liters">Liters</option>
                                            <option value="units">Units</option>
                                        </select>
                                        <label for="UpdateUnit">Unit*</label>
                                        <span asp-validation-for="@newItem.UnitType"
                                            class="text-danger field-validation-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-lg-3 col-md-6">
                                    <div class="form-check form-switch h-100 d-flex align-items-center">
                                        <input class="h-50 w-50 form-check-input" asp-for="@newItem.IsAvailable"
                                            type="checkbox" id="Available" checked>
                                        <label class="form-check-label m-2" for="Available"> Available</label>

                                    </div>
                                </div>
                                <div class="mb-3 col-lg-3 col-md-6">
                                    <div class="form-check form-switch h-100 d-flex align-items-center">
                                        <input class="form-check-input h-50 w-50" asp-for="@newItem.DefaultTax"
                                            type="checkbox" id="DefaultTax" checked>
                                        <label class="form-check-label m-2" for="DefaultTax"> Default Tax</label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" asp-for="@newItem.TaxPercentage"
                                            id="EditItemTaxPercentage" placeholder="">
                                        <label for="EditItemTaxPercentage">Tax Percentage</label>
                                        <span asp-validation-for="@newItem.TaxPercentage"
                                            class="text-danger field-validation-error"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" asp-for="@newItem.ShortCode"
                                            id="EditShortCde" placeholder="">
                                        <label for="EditShortCde">Short Code</label>
                                        <span asp-validation-for="@newItem.ShortCode"
                                            class="text-danger field-validation-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <textarea asp-for="@newItem.Description" id="description"
                                            class="form-control h-100" rows="3" placeholder=""></textarea>
                                        <label for="description">Description</label>
                                    </div>
                                </div>
                            </div>
                            <div id="dropzone"
                                class="dropzone w-100 d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-cloud-arrow-up z-2 fs-4 "></i>
                                <h6 class="colour-styling d-flex justify-content-center">Browse File</h6>
                                <input asp-for="@newItem.Photo" id="fileInputAtAddItem" class="upload-input" accept="image/*" />
                                <div id="fileDetailsAtAddItem" class="mt-2 d-none">
                                    <p id="fileNameAtAddItem" class="mb-1"></p>
                                    <img id="imagePreviewAtAddItem" src="#" alt="Image Preview" class="img-thumbnail mb-1"
                                        style="max-width: 200px; max-height: 200px; display: none;" />
                                    <button type="button" id="removeImageButtonAtAddItem" class="btn btn-danger">Remove
                                        Image</button>
                                </div>
                            </div>
                            @* <div id="dropzone"
                                class="dropzone w-100 d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-cloud-arrow-up z-2 fs-4 "></i>
                                <h6 class="colour-styling d-flex justify-content-center">Browse File</h6>
                                <input asp-for="@newItem.Photo" id="fileInput" class="upload-input" accept="image/*" />
                                <div id="fileDetails" class="mt-2 d-none">
                                    <p id="fileName" class="mb-1"></p>
                                    <img id="imagePreview" src="#" alt="Image Preview" class="img-thumbnail mb-1"
                                        style="max-width: 200px; max-height: 200px; display: none;" />
                                    <button type="button" id="removeImageButton" class="btn btn-danger">Remove
                                        Image</button>
                                </div>
                            </div> *@
                        </div>

                        <div class="col-lg-4 p-2 modifierside">
                            <!-- Select Modifiers -->
                            <div class="row p-2 px-4 mb-1">
                                <div class="col-12">
                                    <select class="form-select border border-rounded" id="attachModifierGroup">
                                        <option value="">Select Modifier Group(s)</option>
                                        @foreach (var modifierGroup in Model.modifierGrops)
                                        {
                                            <option value="@modifierGroup.id">@modifierGroup.modifierGroupName</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <input type="hidden" id="IMDetails" asp-for="@newItem.IMDetails" />
                            <!-- List of Modifiers -->
                            <div id="SelectedModifierGroupsForAddItem" class="overflow-auto" style="height: 400px;">
                            </div>
                        </div>

                        <div class="col-11 m-0 p-0 my-2 d-flex justify-content-end">
                            <button type="submit" id="saveItemBtn" form="itemForm"
                                class="btn btn-primary mx-3">Save</button>
                            <button type="reset" class="btn btn-primary bg-white text-primary"
                                data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@


<script>

    // ===============================
    // Modifier Group Management
    // ===============================
    $(document).ready(function () {
        let modifierGroupDropdown = document.getElementById('attachModifierGroup');

        $(document).on("change", "#attachModifierGroup", function () {
            var modifierGroupId = $(this).val();
            console.log("Selected Modifier Group ID: " + modifierGroupId);

            if (modifierGroupId) {

                addModifierGroup({
                    IMGid: 0,
                    ItemId: 0,
                    MgId: modifierGroupId,
                    MinModifiers: 0,
                    MaxModifiers: 0
                });
            }
        });

        $(document).on("click", "#saveItemBtn", function (event) {
            event.preventDefault(); // Prevent form from refreshing the page    
            // Collect modifier group IDs

            let modifierGroups = [];
            $("#SelectedModifierGroupsForAddItem > .row").each(function () {
                let groupId = $(this).attr("id").split("-")[1];
                let minModifier = $(this).find(".min-modifier").val() || 0;
                let maxModifier = $(this).find(".max-modifier").val() || 0;

                modifierGroups.push({ ItemId: 0, MgId: groupId, MinModifiers: minModifier, MaxModifiers: maxModifier });
            });
            let jsonString = JSON.stringify(modifierGroups);
            $("#IMDetails").val(jsonString);
            let form = $('#itemForm');
            // trigger validation
            if (!form.valid()) {
                return; // stop if validation fails
            }
            let formData = new FormData($("#itemForm")[0]);

            $.ajax({
                url: '/Menu/AddItem',
                type: "POST",
                data: formData,
                dataType: "json",
                contentType: false, // Necessary for FormData
                processData: false, // Necessary for FormData
                success: function (response) {
                    console.log("Success Response:" + response.partiview);
                    @* $("#MenuItems").html(response.partiview); *@
                        $('#AddItemModal').modal('hide');
                    showToaster(response.message, response.status);
                },
                error: function (xhr, status, error) {
                    let errorResponse = JSON.parse(xhr.responseText);
                    showToaster(errorResponse.message, errorResponse.status);
                }
            });
        });

        $('#AddItemModal').on('hidden.bs.modal', function () {
            var form = $('#itemForm');

            // Clear validation messages
            form.find('.field-validation-error').each(function () {
                console.log("Clearing validation message");
                $(this).text('');
            });

            // Remove validation classes (invalid styles)
            form.find('.is-invalid').removeClass('is-invalid');
            form.find('.is-valid').removeClass('is-valid');

            // Optionally reset the form fields
            form[0].reset(); // Reset all form fields

            // Optional: Reset dropzone preview if needed
            $('#fileDetails').addClass('d-none');
            $('#imagePreview').hide();
            $('#fileInput').val('');

            // Clear the hidden IMDetails input field if needed
            $('#IMDetails').val('');
        });
    });


</script>